.projects {
  background-color: rgb(214, 214, 214);
  h1 {
    text-align: center;
  }
  .project {
    // test
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__card {
      border: 1px solid black;
      border-radius: 1rem;
      flex-basis: 45%;
      margin: 3rem auto;
      background-color: honeydew;
      img {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 100%;
        max-height: 30rem;
        object-fit: cover;
      }
    }
  }
}
