@import "/src/components/sassStyles/variables";
// $default: #F6F5F5;
// $default-med: #d2d3db;
// $default-dark: #7d7e8d;
// $light-blue: #4eebf7;
// $med-blue: #1897b9;
// $dark-blue: #276678;

.projects {
  background-color: $default-med;
  border-top: 2px solid rgba(2, 11, 34, 0.22);
  border-bottom: 2px solid rgba(2, 11, 34, 0.22);
  h1 {
    text-align: center;
    padding: 1.5rem 0 0;
    font-size: 2rem;
    color: $dark-blue;
  }
  .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__card {
      border-radius: 1rem;
      flex-basis: 475px;
      margin: 2rem auto;
      background-color: $dark-blue;
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
      box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
      transition: transform 0.1s;
      img {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 100%;
        height: 20rem;
        object-fit: cover;
      }
      p,
      h2,
      h3 {
        margin: 1.25rem;
        color: $default;
      }
      p {
        font-size: 14px;
        color: $default-med;
      }
      h2 {
        font-size: 1.25rem;
      }
      h3 {
        font-size: 1rem;
      }
      &:hover {
        transform: scale(1.02);
      }
    }
    &__tech {
    display: inline-block;
    margin: 0 0.4rem 1.5rem;
    padding: 0.25rem 1.2rem;
    margin-left: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: $light-blue;
    font-size: 13px;
    color: $dark-blue;
    }
    &__links {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
      button {
        border-radius: 0.5rem;
        flex-basis: 40%;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 600;
        transition: 0.1s background-color;
        border: none;
        background-color: $default;
        color: $dark-blue;
        &:hover {
          cursor: pointer;
          background-color: rgb(116, 246, 255);
        }
      }
    }
  }
}
