@import "/src/components/sassStyles/variables";
// $default: #F6F5F5;
// $default-med: #d2d3db;
// $default-dark: #7d7e8d;
// $light-blue: #4eebf7;
// $med-blue: #1897b9;
// $dark-blue: #276678;

.projects {
  background-color: $default-med;
  padding-bottom: 3rem;
  border-top: 2px solid rgba(2, 11, 34, 0.22);
  border-bottom: 2px solid rgba(2, 11, 34, 0.22);
  h1 {
    text-align: center;
    font-size: 2rem;
    color: $dark-blue;
  }
  .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__card {
      border-radius: 1rem;
      margin: 1.5rem auto;
      background-color: $dark-blue;
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
      box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
      transition: transform 0.1s;
      img {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 100%;
        object-fit: fill;
        object-position: 50% 50%;
      }
      p,
      h2,
      h3 {
        margin: 1.25rem;
        color: $default;
      }
      p {
        font-size: 14px;
        color: $default-med;
      }
      h2 {
        font-size: 1.25rem;
        color: $light-blue;
      }
      h3 {
        font-size: 1rem;
      }
      &:hover {
        transform: scale(1.02);
      }
    }
    &__techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1rem 1rem;
      &-tech {
        margin: 0.25rem 0.4rem;
        padding: 0.25rem 1rem;
        border-radius: 3rem;
        border: none;
        background-color: $light-blue;
        font-size: 13px;
        font-weight: 600;
        color: $dark-blue;
        box-shadow: 1px 2px 2px 1px rgba(5, 27, 59, 0.897);
      }
    }
    &__links {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
      button {
        border-radius: 0.5rem;
        flex-basis: 40%;
        padding: 0.8rem 4rem;
        font-size: 1.1rem;
        font-weight: 600;
        transition: 0.1s background-color;
        border: none;
        background-color: $default;
        color: $dark-blue;
        box-shadow: 1px 1px 2px 1px rgba(5, 27, 59, 0.856);
        &:hover {
          cursor: pointer;
          background-color: $hover;
        }
      }
    }
  }
}
