@import "/src/components/sassStyles/variables";
@import "/src/components/sassStyles/animations";

// $default: #F6F5F5;
// $default-med: #d2d3db;
// $default-dark: #9394a5;
// $light-blue: #b7eef8;
// $med-blue: #1687A7;
// $dark-blue: #276678;

.hero {
  justify-content: center;
  padding: 2rem 0;
  margin: 2.5rem auto;
  &__text {
    flex-basis: 60%;
    align-items: center;
    h3 {
      color: $dark-blue;
      font-size: 1.7rem;
      margin: 0.5rem auto;
      animation: fadeIn ease-in-out 0.7s;
    }
    h2 {
      color: $default-dark;
      font-size: 1.1rem;
      animation: fadeIn ease-in-out 0.9s;
    }
    h1 {
      color: $med-blue;
      font-size: 2rem;
      margin: 0.75rem 0;
      animation: fadeIn ease-in-out 0.8s;
    }
    &-buttons {
      margin-left: 1rem;
      animation: fadeIn ease-in-out 1s;

      button {
        border-radius: 2rem;
        border: 1px solid rgba(0, 0, 0, 0.267);
        color: $dark-blue;
        font-size: 1rem;
        font-weight: 600;
        margin: 1rem;
        padding: 0.75rem 3rem;
        box-shadow: 1px 1px 2px 1px rgba(3, 36, 85, 0.459);
        cursor: pointer;
        transition: background-color 0.5s, transform 0.1s;
        background-color: $light-blue;
        &:hover {
          background-color: $hover;
          transform: scale(1.01)
        }
      }
    }
  }

  &__image {
    align-self: center;
    margin-right: 3rem;
    animation: fadeLeft ease-out 1s;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    &__text {
      padding-left: 2rem;
    }
  }
}
