// This partial contains repeatable property values, such as brand colors and sizes.
// ex) By storing #002e25 in the variable $primaryDark2Color

$default: #F6F5F5;
$default-med: #f1f1f1;
$default-dark: #63646e;
$light-blue: rgb(194, 233, 255);
$med-blue: #37b6da;
$dark-blue: #255c8a;

$hover: rgb(96, 250, 255);

    a {
      text-decoration: none;
      color: $dark-blue
    }
    a:visited,
    a:active {
      text-decoration: none;
    }
