@import "/src/components/sassStyles/variables";

.contact {
  margin-top: 3rem;
  margin-bottom: 5rem;
  h2 {
    text-align: center;
    color: $dark-blue;
    font-size: 1.8rem;
  }
  &__form {
    width: 55%;
    form {
      display: flex;
      flex-wrap: wrap;
      div {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    input[type="text"],
    input[type="email"],
    textarea {
      padding: 0.7rem;
      text-align: left;
    }
    input, textarea {
      margin-top: 1rem;
      border-radius: 5px;
      border: 1px solid grey;
      font-size: 13px;
      width: 90%;
      font-family: sans-serif;

    }
    input[type="submit"] {
      border: none;
      background-color: $dark-blue;
      padding: 1rem 2rem;
      font-size: 1rem;
      color: $default;
      margin: 1rem auto;
      &:hover {
        background-color: rgb(0, 49, 95);
        cursor: pointer;
      }
    }
  }
  .contact-me {
    p {
    }
    h2 {
      color: $dark-blue;
      font-size: 1.8rem;
    }
    .contacts {
      justify-content: space-evenly;
      align-items: center;
      .contact-image {
        width: 16%;
      }
      .contact-info {
        width: 50%;
        &-headers {
          color: $med-blue;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contact {
    &__form {
      form {
        display: flex;
        flex-wrap: wrap;
        div input,
        div textarea{
          width: 80%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
