@import "/src/components/sassStyles/variables";

.contact {
  margin-top: 3rem;
  margin-bottom: 5rem;
  h1 {
    text-align: center;
    color: $dark-blue;
  }
  &__form {
    form {
      display: flex;
      flex-wrap: wrap;
      div {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    input[type="text"],
    input[type="email"] {
      padding: 0.4rem;
      text-align: left;
    }
    input, textarea {
      margin-top: 1rem;
      border-radius: 5px;
      border: 1px solid grey;
      font-size: 13px;
      width: 90%;
    }
    input[type="submit"] {
      border: none;
      background-color: $dark-blue;
      padding: 1rem 2rem;
      font-size: 1rem;
      color: $default;
      margin: 1rem auto;
      &:hover {
        background-color: rgb(0, 37, 107);
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 768px) {
.contact {
  &__form {
    form {
      display: flex;
      flex-wrap: wrap;
      div input,
      div textarea{
        width: 60%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
}
