@import "/src/components/sassStyles/variables";
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

nav {
  display: none !important;
  position: -webkit-sticky; /* Safari */
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 1;
  background-color: $dark-blue;
  color: $default;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.8);
  font-size: 1.2rem;
  .navbar-title {
    font-family: 'Cookie', cursive;
    font-weight: 200;
    font-size: 2.8rem;
    letter-spacing: 2.5px;
    animation: fade 0.3s;
    text-align: center;
    width: calc(100% * (1/4));
    margin: 0;
    padding-top: .25rem;
    align-self: center;
  }
  .navbar-list {
    animation: fade 0.3s;
    display: flex;
    list-style-type: none;
    width: calc(100% * (3/4));
    justify-content: space-around;
    align-items: center;
    &__item {
      a:link,
      a:visited {
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: all 0.4s ease-in;
      }
      a:hover {
        transition: all 0.2s ease-out;
        box-shadow:  0 -1px 0 0 $hover inset, 0 -2px 0 0 $hover inset ;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: flex !important;
  }
}

#projects,
#technical,
#contact {
  scroll-margin-top: 65px;
}

#about {
  scroll-margin-top: 10000px;
}

.header {
  color: $hover !important;
  text-decoration: underline;
  transition: text-decoration 0.2s;
}
