@import "/src/components/sassStyles/variables";
// $default: #F6F5F5;
// $default-med: #d2d3db;
// $default-dark: #9394a5;
// $light-blue: #D3E0EA;
// $med-blue: #1687A7;
// $dark-blue: #276678;

nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  z-index: 1;
  background-color: $dark-blue;
  color: $default;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.8);
  font-size: 1.25rem;
  .navbar-title {
    text-align: center;
    width: calc(100% * (1/4));
    margin: 0;
    align-self: center;
  }
  .navbar-list {
    display: flex;
    list-style-type: none;
    width: calc(100% * (3/4));
    justify-content: space-around;
    align-items: center;
    &__item {
      a:link,
      a:visited {
      color: white;
      text-decoration: none;
      }
      a:hover {
        color: $hover;
      }
    }
  }
}
