@import "/src/components/sassStyles/variables";

nav {
  display: flex;
  border: 1px solid red;
  background-color: cornflowerblue;
  color: $default;
  .navbar-title {
    border: 1px solid blue;
    text-align: center;
    width: calc(100% * (1/4));
    margin: 0;
    align-self: center;
  }
  .navbar-list {
    display: flex;
    list-style-type: none;
    border: 1px solid green;
    width: calc(100% * (3/4));
    justify-content: space-around;
    align-items: center;
    &__item {
      a:link,
      a:visited {
      color: white;
      text-decoration: none;
      }
      a:hover {
        color: skyblue;
      }
    }
  }
}
