@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;

}

body {
  margin: 0;
}

//  Extra

.hidden {
  display: none !important;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 430px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half,
.contact-half {
  width: 100%;
}

.justify-space {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1250px;
  }

  .column-half {
    width: 31%;
  }

  .contact-half {
    width: 30%;
  }
}
